In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os

## 서울시 따릉이대여소 마스터 정보

In [7]:
file_path0 = 'D:\Code\(최종)서울시 자전거 프로젝트/서울시 따릉이대여소 마스터 정보.csv ' 
df0 = pd.read_csv(file_path0,encoding='cp949')

print(df0)

print('*'*80)

df0.isnull().sum()

       대여소_ID                      주소1            주소2         위도          경도
0      ST-999       서울특별시 양천구 목동서로 280  목동아파트 8단지 상가동   0.000000    0.000000
1      ST-998       서울특별시 양천구 목동서로 130  목동아파트 4단지 상가동   0.000000    0.000000
2      ST-997       서울특별시 양천구 목동중앙로 49  목동3단지 시내버스정류장  37.534390  126.869598
3      ST-996   서울특별시 양천구 남부순환로88길5-16     양강중학교앞 교차로  37.524334  126.850548
4      ST-995  서울특별시 양천구 중앙로 153 공중화장실            NaN  37.510597  126.857323
...       ...                      ...            ...        ...         ...
3265  ST-1002     서울특별시 양천구 목동동로 316-6   서울시 도로환경관리센터  37.529900  126.876541
3266  ST-1001      서울특별시 양천구 남부순환로4길20        서서울호수공원   0.000000    0.000000
3267  ST-1000        서울특별시 양천구 신정동 236    서부식자재마트 건너편  37.510380  126.866798
3268   ST-100       서울특별시 광진구 아차산로 262    더샵스타시티 C동 앞  37.536667  127.073593
3269    ST-10         서울특별시 마포구 양화로 93            427  37.552746  126.918617

[3270 rows x 5 columns]
********************************************************************************

대여소_ID       0
주소1          0
주소2       1757
위도           0
경도           0
dtype: int64

## 20240104 Load Data

In [8]:
file_path1 = 'D:\Code\(최종)서울시 자전거 프로젝트/20240104.csv ' 
df1 = pd.read_csv(file_path1,encoding='cp949')

print(df1)

print('*'*80)

df1.isnull().sum()

           기준_날짜 집계_기준  기준_시간대 시작_대여소_ID     시작_대여소명 종료_대여소_ID     종료_대여소명  \
0       20240104  출발시간       0   ST-1014  신정3동_101_1    ST-676  고척2동_035_1
1       20240104  출발시간       0   ST-1017   목5동_059_1    ST-310   목4동_047_1
2       20240104  출발시간       0   ST-1055   강일동_001_1   ST-2744   강일동_001_5
3       20240104  출발시간       0   ST-1082   장지동_019_1   ST-2599   장지동_012_3
4       20240104  출발시간       0   ST-1092  풍납2동_026_1    ST-502  성내1동_007_1
...          ...   ...     ...       ...         ...       ...         ...
180069  20240104  도착시간    2355    ST-914  상계5동_036_1   ST-2711  중계1동_001_1
180070  20240104  도착시간    2355    ST-935  방배4동_002_1   ST-1916  방배본동_030_1
180071  20240104  도착시간    2355    ST-942  면목5동_015_1    ST-262  장안2동_053_1
180072  20240104  도착시간    2355     ST-96   상암동_060_1   ST-3272  성산2동_038_1
180073  20240104  도착시간    2355    ST-997   목4동_021_1   ST-1013   목3동_003_1

        전체_건수  전체_이용_분  전체_이용_거리
0           1        6      2320
1           1        6       909
2           1       93     12860
3           1        5       910
4           1        5      1063
...       ...      ...       ...
180069      1       30      1633
180070      1        5      1961
180071      1       19      2777
180072      1        4       607
180073      1       14      2660

[180074 rows x 10 columns]
********************************************************************************

기준_날짜          0
집계_기준          0
기준_시간대         0
시작_대여소_ID      0
시작_대여소명        0
종료_대여소_ID      0
종료_대여소명      671
전체_건수          0
전체_이용_분        0
전체_이용_거리       0
dtype: int64

## 20240105 Load Data

In [9]:
file_path2 = 'D:\Code\(최종)서울시 자전거 프로젝트/20240105.csv ' 
df2 = pd.read_csv(file_path2,encoding='cp949')

print(df2)

print('*'*80)

df2.isnull().sum()

           기준_날짜 집계_기준  기준_시간대 시작_대여소_ID     시작_대여소명 종료_대여소_ID      종료_대여소명  \
0       20240105  출발시간       0   ST-1033  불광2동_017_1    ST-475   불광1동_014_1
1       20240105  출발시간       0   ST-1041  성내1동_033_1    ST-494     길동_085_2
2       20240105  출발시간       0   ST-1061  천호1동_039_1   ST-1061   천호1동_039_1
3       20240105  출발시간       0   ST-1070  송파1동_010_1   ST-1729    삼전동_046_1
4       20240105  출발시간       0   ST-1072  가락2동_010_1   ST-1408    오금동_037_1
...          ...   ...     ...       ...         ...       ...          ...
188361  20240105  도착시간    2355    ST-950   조원동_032_1   ST-2375    대학동_008_1
188362  20240105  도착시간    2355    ST-965  낙성대동_007_2   ST-2373    은천동_065_2
188363  20240105  도착시간    2355    ST-968  성산2동_039_1     ST-35  북가좌2동_020_1
188364  20240105  도착시간    2355    ST-980  자양2동_039_1   ST-2308    화양동_041_2
188365  20240105  도착시간    2355    ST-983  중곡1동_022_1    ST-983   중곡1동_022_1

        전체_건수  전체_이용_분  전체_이용_거리
0           1        3       506
1           1       20      2072
2           1        0        10
3           2       15      2156
4           1       10      1054
...       ...      ...       ...
188361      1       45      5035
188362      1        7       993
188363      1       12      1930
188364      1        8      1603
188365      1        0        10

[188366 rows x 10 columns]
********************************************************************************

기준_날짜          0
집계_기준          0
기준_시간대         0
시작_대여소_ID      0
시작_대여소명        0
종료_대여소_ID      0
종료_대여소명      737
전체_건수          0
전체_이용_분        0
전체_이용_거리       0
dtype: int64

## 20240106 Load Data

In [10]:
file_path3 = 'D:\Code\(최종)서울시 자전거 프로젝트/20240106.csv ' 
df3 = pd.read_csv(file_path3,encoding='cp949')

print(df3)

print('*'*80)

df3.isnull().sum()

           기준_날짜 집계_기준  기준_시간대 시작_대여소_ID     시작_대여소명 종료_대여소_ID     종료_대여소명  \
0       20240106  출발시간       0   ST-1005  신정1동_027_1   ST-2760  신정2동_006_1
1       20240106  출발시간       0   ST-1010  신월3동_007_1    ST-835  발산1동_001_1
2       20240106  출발시간       0   ST-1015   목5동_001_1    ST-309   목4동_040_1
3       20240106  출발시간       0   ST-1017   목5동_059_1   ST-1495   목5동_013_1
4       20240106  출발시간       0    ST-102  자양1동_003_1    ST-988  자양3동_029_1
...          ...   ...     ...       ...         ...       ...         ...
112737  20240106  도착시간    2355    ST-884   중앙동_009_1   ST-1548   은천동_065_1
112738  20240106  도착시간    2355    ST-913  월계3동_039_1   ST-2708  월계2동_025_1
112739  20240106  도착시간    2355    ST-919  고척1동_006_1   ST-1227  개봉1동_050_1
112740  20240106  도착시간    2355     ST-93   상암동_026_4     ST-43   신촌동_030_2
112741  20240106  도착시간    2355    ST-950   조원동_032_1    ST-709   미성동_014_1

        전체_건수  전체_이용_분  전체_이용_거리
0           1        6      1709
1           1       19      2350
2           1        9      2470
3           1        4       606
4           1        7      1236
...       ...      ...       ...
112737      1        6       960
112738      1        9      1569
112739      1        6       353
112740      1       37      4579
112741      1       11      1878

[112742 rows x 10 columns]
********************************************************************************

기준_날짜          0
집계_기준          0
기준_시간대         0
시작_대여소_ID      0
시작_대여소명        0
종료_대여소_ID      0
종료_대여소명      455
전체_건수          0
전체_이용_분        0
전체_이용_거리       0
dtype: int64